

<div class="container">
    <div class="col s12 m7">
        <div class="card horizontal">
            <h2 class="header">{{article.title}}</h2>
            <div class="card-image">
                <img src="https://lorempixel.com/100/190/nature/6">
            </div>
               
            <div class="card-stacked">
                <div class="card-content">
                    <p>{{article.subText}}</p>
                </div>
                <div class="card-action">
                    <a href="https://www.vice.com{{article.link}}">READ THE ARTICLE</a>
                </div>
            </div>
        </div>
    </div>

    
</div>

