.card {
    float: left;
}

#hero{
    background-image: url("/public/images/book.jpg");
    height: 400px;
    width:100%;
    background-position: bottom;
    background-size: cover;
    margin-top: -30px;
}

#hero h1{
    color: white;
    padding-top: 10%;
}

.card-image img {
    height: 400px;
}

nav {
    background-color: #0d47a1;
}

.menuCard a{
    text-decoration: none;
    color: white;


}

.comment {
    background-color: aquamarine;
    padding: 2.5%;
    width:100%;
}

.comment p {
    padding-bottom:8%;
}

#articleDrop li{
    display: inline;
    float: right;
}