.card {
    float: left;
}

#hero{
    background-image: url("/public/images/book.jpg");
    height: 500px;
    width:100%;
    background-position: bottom;
    background-size: cover;
}

.card-image img {
    height: 400px;

}

.menuCard a{
    text-decoration: none;
    color: white;


}

.comment {
    background-color: aquamarine;
    padding: 2.5%;
    width:100%;
}

.comment p {
    padding-bottom:8%;
}

#articleDrop li{
    display: inline;
    float: right;
}