.card {
    float: left;
    display: inline;
}

#hero{
    background-image: url("/public/images/book.jpg");
    height: 500px;
    width:100%;
    background-position: center-top;


}

.card-image img {
    height: 400px;

}

.comment {
    background-color: aquamarine;
    padding: 2.5%;
    width:100%;
}

.comment p {
    padding-bottom:8%;
}